{
    dark-primary-color:     #14325c;
    default-primary-color:  #006992;
    light-primary-color:    #b0ca9d;
    text-primary-color:     #e7e4de;
    accent-color:           #75b1a9;
    primary-text-color:     #001d4a;
    secondary-text-color:   #006992;
    divider-color:          #75b1a9;
    extra-hover-color:      #0a4e77;

}

.root{
    -fx-background-color: default-primary-color;
    -fx-padding: 10;
}

.button{
    -fx-font-family: "Courier New";
    -fx-font-size: 16px;
    -fx-text-fill: text-primary-color;
    -fx-padding: 10;
    -fx-background-color: dark-primary-color;
    -fx-background-radius: 10;
}
.button:hover{
    -fx-background-color: accent-color;
}
.label{
    -fx-font-family: "Courier New";
    -fx-font-size: 16px;
    -fx-text-fill: text-primary-color;

}
.text-field
{
    -fx-background-color: light-primary-color;
    -fx-text-fill: primary-text-color;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: dark-primary-color; /*dark-primary-color*/
    -fx-padding: 10;
    -fx-background-radius: 15px 30px;

}
.tab-pane .tab:hover{
    -fx-background-color: accent-color;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
.tab-pane .tab:selected
{
    -fx-background-color: light-primary-color; /*light-primary-color*/
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: secondary-text-color;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: default-primary-color;
}
#simulationContainter{
    -fx-padding: 20;
    -fx-background-color: divider-color;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);

}
#simulationContainter > #patogens
{
    -fx-padding: 10;
    -fx-background-color: light-primary-color;
    -fx-background-radius: 10;
    -fx-spacing: 10px;
    -fx-min-height: 70;

}
#gridPane
{
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 30;
}

#gridPane >.label
{
    -fx-font-size: 20px;
    -fx-padding: 10;

}
#gridPane >.text-field
{
    -fx-font: 20px "Arial";
    -fx-padding: 10;
    -fx-background-radius: 10;

}

#gridPane > #configPane
{
    -fx-font-size: 20px;
    -fx-padding: 10;
    -fx-background-color: light-primary-color;
    -fx-background-radius: 10;

}

#Text
{
    -fx-font-family: "Courier New";
    -fx-font-size: 16px;
    -fx-fill: text-primary-color;
}
#rect
{
    -fx-font-family: "Courier New";
    -fx-font-size: 16px;
    -fx-background-color: dark-primary-color;
    -fx-width: 70;
    -fx-min-width: -fx-width;
    -fx-max-width: -fx-width;
    -fx-height: 50;
    -fx-min-height: -fx-height;
    -fx-max-height: -fx-height;
    -fx-padding: 5;
    -fx-background-radius: 15px 15px 10px 10px;
}
#rect:hover
{
    -fx-background-color: extra-hover-color;
}
#title
{
    -fx-font-family: "Verdana";
    -fx-font-size: 45px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}